.app{
  background-image: url(./Images/harvest-3679075_1920.jpg);
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.title{
 display: flex;
 justify-content: center;
 align-items: center;
  height: 5vh;
  color: orange;
}